<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"  executionTimeout="9999" maxRequestLength="2097151"/>

  </system.web>
  <connectionStrings>
    <add name="RoomMagnet1" connectionString="Data Source=aay09edjn65sf6.cpcbbo8ggvx6.us-east-1.rds.amazonaws.com;Initial Catalog=RoomMagnet;User ID=fahrenheit;Password=cis484fall" />
    <add name="RoomMagnet" connectionString="Data Source=shaniii\localhost;Initial Catalog=RoomMagnet;Integrated Security=True"/>
  </connectionStrings>



    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

  
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>